*{ 
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    border: border-box;
}

/** Navbar **/
.navbar{
    height: 60px;
    background: #0f1111;;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/** Box-1 **/
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
/** Box-2 **/
.add-first{
    font-size: 0.85rem;
    color: #cccccc;
    margin-left: 15px;
}
.add-second{
    margin-left: 3px;
    font-size: 1rem ;
}
.add-icon{
    display: flex;
    align-items: center;
}
/** Box-3 **/
.nav-search{
    width:620px;
    height: 40px;
    background-color: pink;
    border-radius: 4px;
    display: flex;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width:100%;
    font-size:1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color:#febd6f;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
.nav-search:hover{
    border: 2px solid orange;
}
/** Box-4 **/
.nav-lan i{
    font-size:25px;
}
.nav-lan{
    font-size: 0.85rem;
    font-weight:700;
}
/** Box-5 **/
.nav-second{
    font-weight: 700;
    font-size: 0.85rem;
}
span{
    font-size: 0.7rem;
}
/** Box-6 **/
.nav-cart i{
    font-size:30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight:700;
}

/** Panel **/
.panel{
    display: flex;
    align-items: center;
    height:40px;
    background-color: #222f3d;
    color: white;
    justify-content: space-evenly;
}
.panel-ops p{
    display: inline;
    margin-left: 12px;
}
.panel-ops{
    width: 80%;
    font-size: 0.9rem;
}
.panel-all{
    margin-right: 15px;
}

/* Image slider */
.hero-slider {
    position: relative;
    height: 450px;
    width: 100%;
    overflow: hidden;
}
.slides {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;    
}
.slides img {
    width: 100%;
    flex-shrink: 0;
    object-fit: cover;
}
.prev, .next {
    position: absolute;
    top: 50%;
    background-color:  #222F3D00;
    font-size: 24px;
    border: none;
    cursor: pointer;  
}
.prev { left: 10px; }
.next { right: 10px; }
/* Tagline  */
.hero-slider .hero-bar {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    color: black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    background-size: cover;
}
.hero-bar{
    width: 80%;
    height: 40px;
}
/** Shop section **/
.Shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
/** Box 1 **/
.box-a{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.box-img-a{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom:1rem;
}
.box-content-a{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content-a p{
    color: #007185;
}

 /** Box 2 **/
.box-b {
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 15px 15px ;
    margin-top: 15px;
  
}

.box-content-b {
  display: grid;
  margin-top: 15px; 
  grid-template-columns: 1fr 1fr;
  gap: 55px;
  margin: 10px , 1rem;
  justify-content: center;
  align-items: flex-end;

}
.box-content-b p{
    color: black;
    margin-top: 150px;
    font-size: smaller;
    font-weight: 200px;
}
.text{
    color: #007185;
    margin-top: 30px;
    text-align: left;
    
}

.sub-image{
  height: 105px;
  background-size: cover;
  background-position: center;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/** Footer **/
footer{
    margin-top: 15px;
}
.foot-panel-1{
    height: 50px;
    background-color: #37475a;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}
.foot-panel-2{
    height: 300px;
    background-color: #222f3d;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 20px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}
.foot-panel-3{
    background-color: #222f3d;
    height: 70px;
    color: white;
    border-top: 0.5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}
.foot-panel-4{
    background-color: #0f1111;
    height:80px;
    color: white;
    text-align: center;
}
.pages{
    padding-top: 30px;
    font-size: 0.7rem;
}
.copyright{
    padding-top: 5px;
    font-size: 0.7rem;
}


